<ul>
    {% for item in items %}

        <li>
<!--            <a class="list-group-item list-group-item-action"-->
<!--                           href="{% url 'menu_detail' item.id %}">{{ item.title }}</a>-->
            <a class="list-group-item list-group-item-action"
                           href="?{{ other_querystring }}&{{ menu }}={{ item.id }}">{{ item.title }}</a>

        </li>

        {% if item.child_items %}
            {% include 'menu/nested_menu.html' with items=item.child_items %}
        {% endif %}

    {% endfor %}
</ul>

